.addimg{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    /* border-radius: 130%; */
    margin-left: 10px;
}
.iconsize{
    width: 25px;
    height: 25px;
}
.plus :hover{
    width: 30px;
    height: 30px;
}
.like1{
    /* margin:4px; */
    margin-inline-end: 8px;
    width: 20px;
    height: 20px;  
}
.paddsize{
    background: none;
    color: black;
    padding: 7px 85px;
    margin: 4px;
}
h6{
   color: black;
}
@media only screen and (min-width: 600px) and (max-width: 1200px){
    .paddsize{
        background: none;
        color: black;
        padding: 7px 35px;
        margin: 4px;
    }
}
@media only screen and (min-width: 280px) and (max-width: 599px){
   h4{
       margin-top: 10px;
   }
   .addimg{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    /* border-radius: 130%; */
    margin-left: 10px;
   }
   .paddsize{
    background: none;
    color: black;
    padding: 5px;
}
}