<div class="containetr">
   <a routerLink="/register"><h6 class="text-left">Edit Profile</h6></a>
    <a class="nav-link mx-2 text-right plus" routerLink="plus"><img src="./assets/images/icons/plus.svg"
            class="iconsize place"></a>
    <div class="row">
        <div class="col-md-5">
            <img src="./assets/myimg/2.jpg" class="addimg">
        </div>
        <div class="col-md-5">
            <h4>Kabir Pandeyyyyyyyyy</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur dolores magnam dicta illo, recusandae
                cumque fugiat officiis quisquam porro ad mollitia similique ducimus reiciendis
                i sapiente doloremque necessitatibus iste!</p>
        </div>
    </div>
    <hr>
    <button class="btn btn-info mx-2 paddsize" routerLink="/photos"><img src="./assets/images/icons/bookmark.svg" class="like1">Photos</button>
    <button class="btn btn-info mx-2 paddsize" routerLink="/videos"><img src="./assets/images/icons/bookmark.svg" class="like1">Videos</button>
    <button class="btn btn-info mx-2 paddsize" routerLink="/tags"><img src="./assets/images/icons/bookmark.svg" class="like1">Tages</button>
    <hr>
    <app-addimg></app-addimg>
</div>