<div class="row">
  <div class="col-md-9">
    <app-profile></app-profile>
    <!-- <app-addimg></app-addimg> -->
  </div>
  <div class="col-md-3">
    <div class="desi">
      <p style="background-color: rgb(235, 241, 241); cursor: pointer; margin: 0%;padding: 8px; height: 30px;"
        class="text-left" routerLink="/" >Profile</p>
      <p style="background-color: rgb(235, 241, 241); cursor: pointer;  margin: 0%;padding: 8px;
        height: 30px;" class="text-left" routerLink="/">Account</p>
      <p style="background-color: rgb(235, 241, 241); cursor: pointer;  margin: 0%;padding: 8px;
       height: 30px;" class="text-left" routerLink="/">Status</p>
      <p style="background-color: rgb(235, 241, 241); cursor: pointer;   margin: 0%;;padding: 8px;
       height: 30px;" class="text-left" routerLink="/">Notifaction</p>
      <p style="background-color: rgb(235, 241, 241); cursor: pointer; margin: 0%;padding: 8px; height: 30px;"
        class="text-left" routerLink="/loginpage" >Logout</p>
    </div>
  </div>
</div>