<form [formGroup]="myForm" (ngSubmit)="xyz()">
    <div class="mx-5 my-5">
        <div class="form-row ">
            <div class="form-group col-md-5">
                <input type="text" formControlName="text" class="form-control" placeholder="Name"
                    id="exampleFormControlTextarea1">
                <!-- <span *ngIf="myForm.controls.email.invalid && myForm.controls.email.touched"></span> -->
            </div>
            <div class="form-group col-md-5">
                <input type="number" class="form-control" placeholder="Mobile Number">
            </div>
            <div class="form-group col-md-5">
                <input type="email" class="form-control" formControlName="email" placeholder="Email">
                <span *ngIf="myForm.controls.email.invalid && myForm.controls.email.touched" class="err">
                    <label *ngIf="myForm.controls.email.errors.required">
                        Email is required</label>
                    <span *ngIf="myForm.controls.email.invalid && myForm.controls.email.touched">
                        <label *ngIf="myForm.controls.email.errors.pattern" class="err">
                            only alphabates are allow</label>
                    </span>
                </span>
            </div>
            <div class="form-group col-md-5">
                <input type="date" class="form-control">
            </div>
            <div class="form-group col-md-5">
                <input type="password" class="form-control" formControlName="password" placeholder="Password">
                <span *ngIf="myForm.controls.password.invalid && myForm.controls.password.touched" class="err">
                    <label *ngIf="myForm.controls.password.errors.required">
                        password is required</label>
                    <span *ngIf="myForm.controls.password.invalid && myForm.controls.password.touched">
                        <label *ngIf="myForm.controls.password.errors.pattern" class="err">
                            only 10 digite allowed</label>
                    </span>
                </span>
            </div>
            <div class="form-group col-md-5">
                <input type="password" class="form-control" placeholder="Confirm Password">
            </div>
            <div class="form-group col-md-5 mx-3 my-4">
                &nbsp;&nbsp;
                <input type="radio" name="gander" id="input1"> Male&nbsp;&nbsp;
                <input type="radio" name="gander" id="input2"> Female&nbsp;&nbsp;
                <input type="radio" name="gander" id="input3"> Other
            </div>
        </div>
        <div class="form-group">
        </div>
        <button type="submit" class="btn btn-success" [disabled]="myForm.invalid" (click)="get()">Submit</button>
        &nbsp;&nbsp;&nbsp;<button type="reset" class="btn btn-danger">Cancle</button>
    </div>
</form>