<div class="row">
    <div class="col-md-6">
        <app-addimg class="messagemob"></app-addimg>
    </div>
    <div class="col-md-5 sm-5">
        <h4>hello world this is message section </h4>

    </div>
</div>