<hr class="hr">
<nav class="navbar navbar-light">
    <a class="navbar-brand" routerlink="#">
        <h3> Hadal</h3>
    </a>
    <div class="d-flex">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link mx-2 headerdis1" routerLink="home"><img src="./assets/images/icons/home.svg"
                        class="iconsize"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-2 headerdis2" routerLink="message"><img src="./assets/images/icons/message.svg"
                        class="iconsize"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-2 headerdis3" routerLink="notification"><img
                        src="./assets/images/icons/notification.svg" class="iconsize"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-2 headerdis4" routerLink="setting"><img src="./assets/images/icons/setting.svg"
                        class="iconsize">
                </a>
            </li>
        </ul>
    </div>
</nav>
<hr>