.iconsize{
    width: 25px;
    height: 25px;
}
.mainmenubtn {
    border: none;
    cursor: pointer;
}
.dropdown {
    display: inline-block;
}
.dropdown-child {
    display: none;
}
.dropdown-child a {
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}
.headerdis1 :hover{
    width:30px;
    height: 30px;
}
.headerdis2 :hover{
    width:30px;
    height: 30px;
}
.headerdis3 :hover{
    width:30px;
    height: 30px;
}
.headerdis4 :hover{
    width:30px;
    height: 30px;
}
@media only screen and (min-width: 280px) and (max-width: 599px) {
    h3{
       display: none;
    }
    .hr{
        display: none;
    }
}