<div class="alert alert-secondary mx-0 my-0" role="alert">
    A simple secondary alert—check it out!
</div>
<div class="alert alert-secondary mx-0 my-0" role="alert">
    A simple secondary alert—check it out!
</div>
<div class="alert alert-secondary mx-0 my-0" role="alert">
    A simple secondary alert—check it out!
</div>
<div class="alert alert-secondary mx-0 my-0" role="alert">
    A simple secondary alert—check it out!
</div>
<div class="alert alert-secondary mx-0 my-0" role="alert">
    A simple secondary alert—check it out!
</div>
<div class="alert alert-secondary mx-0 my-0" role="alert">
    A simple secondary alert—check it out!
</div>
<div class="alert alert-secondary mx-0 my-0" role="alert">
    A simple secondary alert—check it out!
</div>
<div class="alert alert-secondary mx-0 my-0" role="alert">
    A simple secondary alert—check it out!
</div>