<div id="bord">
    <div class="form-row my-3">
        <div class="form-group col-md-5">
            <label for="inputEmail4">User Id or Email</label>
            <input type="email" class="form-control" id="inputEmail4">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4">
        </div>
    </div>
    <button type="submit" class="btn btn-primary padding-right">Log in</button>
    <br>
 <a class="forget" routerLink="forgetpass">Forget password...?</a> 
</div>
