<div class="row">
        <div class="col-md-6">
                <form [formGroup]="uploadForm" (ngSubmit)="submit()">
                        <!-- Select File -->
                        <label for="custom"><i><img src="./assets/myimg/2.jpg" class="addimg"></i></label>
                        <input type="file" id="custom" accept="image/*" (change)="showPreview($event)"
                                style="display: none; visibility:hidden;" />
                              
                        <!-- Image Preview -->
                        <hr>
                        <table border="1px solid black" style="margin-top: 30px;margin: auto;">
                                <div class="imagePreview styl" *ngIf="imageURL && imageURL !== ''">
                                        <img [src]="imageURL" [alt]="uploadForm.value.name" class="imgstyle mx-2 my-2"
                                                (click)="likes()"><br>
                                        <button class="btn btn-sm btn-info mx-1 my-1"> <img
                                                        src="./assets/images/icons/like.svg" class="like"
                                                        (click)="likes()">{{counter}}</button>
                                        <button class="btn btn-sm btn-info mx-1 my-1"> <img
                                                        src="./assets/images/icons/comment.svg"
                                                        class="like1">Comment</button>
                                        <button class="btn btn-sm btn-info mx-1 my-1"> <img
                                                        src="./assets/images/icons/share.svg"
                                                        class="like1">Share</button>
                                        <button class="btn btn-sm btn-info mx-1 my-1"><img
                                                        src="./assets/images/icons/bookmark.svg"
                                                        class="like1">Save</button>
                                </div>

                        </table>
                        <div class="imgupload">
                                <table border="1px solid black" style="margin-top: 30px;margin: auto;">
                                        <div class="row mx-2 my-2">
                                                <img src="./assets/myimg/2.jpg" class="addimgg">
                                                <h6 class="mx-3 my-1">Kabir Pandey</h6>
                                                <a class="text-right"><img src="./assets/images/icons/list2.svg"
                                                                class="iconsiz"></a>
                                        </div>
                                        <hr>
                                        <img src="./assets/myimg/1.jpg" (click)="likes()" class="imgstyle mx-2">
                                        <br>
                                        <button class="btn btn-sm btn-info mx-1 my-1"
                                                style="width: 67px; height: 30px;"><img
                                                        src="./assets/images/icons/like.svg" class="like"
                                                        (click)="likes()">{{counter}}</button>
                                        <button class="btn btn-sm btn-info mx-1 my-1"><img
                                                        src="./assets/images/icons/comment.svg" class="like1"
                                                        (click)="comments()">Comment</button>
                                        <button class="btn btn-sm btn-info mx-1 my-1"><img
                                                        src="./assets/images/icons/share.svg"
                                                        class="like1">Share</button>
                                        <button class="btn btn-sm btn-info mx-1 my-1"> <img
                                                        src="./assets/images/icons/bookmark.svg"
                                                        class="like1">Save</button>
                                        <br>
                                        <textarea name="comment" id="comment" cols="42" rows="3"
                                                style="display: none;"></textarea>
                                </table>
                        </div>  
                </form>
        </div>
        <app-username class="text-right col-md-6"></app-username>
</div>