.imgstyle{
    height: 420px;
    width: 319px;   
}
.addimg{
    height: 59px;
    width: 59px;
    border: 2px solid black;
    border-radius: 130%;
}
.like{
    width: 17px;
    height: 17px;
}


.like1{
    margin: auto;
    width: 17px;
    height: 17px;  
}
.addimgg{
    height: 35px;
    width: 35px;
    border: 1px solid black;
    border-radius: 130%;
}
.iconsiz{
    margin-left: 136px;
    width: 15px;
    height: 15px;
}
.btn{
    width: auto;
    height: auto;
    background: none;
    color: black;
    /* border: none; */
}
@media only screen and (min-width: 280px) and (max-width: 599px){
    
}